#navmenu
  %ul
    %h4 Menu
    %li
      = link "Home", "/"
    %li
      = link "Docs"
    %li
      = link "Examples"
    %li
      = link "Community"
    %li
      = link "Tutorials"
    %li
      = link "Plugins"