%h3#pplogo=link img("site/pplogo2.png"), "index.html"
%ul.left
  %li.home
    = link "Home", "index.html"
  %li.docs
    = link "Docs"
  %li.examples
    = link "Examples"
%ul.left
  %li.community
    = link "Community"
  %li.tutorials
    = link "Tutorials"
  %li.plugins
    = link "Plugins"
