!!!
%html
  %head
    %title PoolParty!
    = stylesheets
  %body
    #wrapper
      #masthead
        %h2 CitrusByte Labs
        %ul
          %li
            = link "CitrusByte", "http://citrusbyte.com"
          %li
            = link "Blog", "http://bloc.citrusbyte.com"
          %li
            = link "Labs", "http://labs.citrusbyte.com"
      .spacer 
        &nbsp;
      #content
        = partial('navmenu')
        = yield