!!!
%html
  %head
    %title PoolParty!
    = stylesheets
  %body
    #wrapper
      #masthead
        %h2 CitrusByte Labs
        %ul
          %li
            = link "CitrusByte", "http://citrusbyte.com"
          %li
            = link "Blog", "http://blog.citrusbyte.com"
      .spacer 
        &nbsp;
      #sidebar
        = partial('sidebar')
      #content
        = yield
      #footer
        Copyright 2007 - Ari Lerner
        %br
        %a{:href => "http://citrusbyte.com"} CitrusByte